@import "tailwindcss";

body{
  background-color: #D63426;
  font-family: "Passion One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@theme{
  --color-white-soul: #E8D5C4;
  --color-black-soul: #1A1A1A;
  --color-red-soul: #D63426;
  --color-blue-soul: #2e5998;
}