---
import Buttons from '@components/Buttons.astro'
---
<nav class="flex gap-10">
  <Buttons btnName="Back" onclick="history.back()"/>
  <Buttons btnName='Favs' btnPath="Favorites"/>
  <Buttons btnName='Home' btnPath='/'/>
</nav>