---
import Buttons from '@components/Buttons.astro'
---
<nav class="flex gap-10">
  <Buttons btnName='random' />
  <Buttons btnName='about' />
  <Buttons btnName='Favs' btnPath="Favorites"/>
  <Buttons btnName='Home' btnPath='/'/>
</nav>