---
<<<<<<< HEAD
import type { PokemonList } from "../interface/pokemon-list"
import MainLayout from "../layouts/MainLayout.astro";
import PokeCard from "../components/PokeCard.astro";
import "../styles/global.css";
const title = "Static Home | Pokemon";

const resp = await fetch('https://pokeapi.co/api/v2/pokemon/');
const data = (await resp.json()) as PokemonList;
---
<MainLayout title={title}>
		<h1 class="text-5xl text-center py-2.5 text-slate-200
		bg-radial from-sky-400 to-sky-600 shadow-xl rounded-b-2xl
		">Lista de Pokemones</h1>
		<main class="flex-1">

			<section class="
			grid grid-cols-1 md:grid-cols-5 m-10
			">
			{data.results.map(({name, url}) => (
			<PokeCard
			name = {name}
			url= {url}
			/>
			))}
			</section>
		</main>
</MainLayout>
=======
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Home">
	<h1>Astro</h1>
	<p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quidem totam inventore, rerum libero, veritatis voluptatum accusamus laudantium sint, deserunt laborum! Odit nesciunt perferendis quasi, corrupti amet expedita vel in?</p>
</MainLayout>
	
>>>>>>> origin/main
