---
import MainLayout from "@layouts/MainLayout.astro";
const title = "Pokedex | Home";
---

<MainLayout title={title}>
	<div class="">
		<div class="bg-red-soul min-h-screen ">
			<div class="bg-white-soul min-h-50 w-auto">
				<h1 class="text-9xl p-9 ">POKEDEX SOUL</h1>
			</div>
			<span class="flex justify-end relative z-10">
				<a 
				href="pokemons/1"
				class="
				transition-all duration-300 shadow-[5px_5px_var(--color-black-soul)] text-2xl 
				hover:translate-x-0.75 hover:translate-y-0.75 hover:shadow-[0px_0px_var(--color-black-soul)]
				border border-white-soul text-black-soul 
				min-h-25 min-w-50 flex justify-center items-center mt-100 mr-35"
				>Exprorar AHORA</a>
			</span>
		</div>
	</div>
	</MainLayout>