---
import MainLayout from "@layouts/MainLayout.astro"
import NavBar from "@components/NavBar.astro";
import { Counter } from "@components/shared/Counter";
---

<MainLayout 
  title=`Pokemon | Favorites`
  description=`Dedicated page for favorites pokemons`
  />
<div class="flex justify-around min-h-50 bg-white-soul pt-10">
      <h2 class="text-8xl text-black-soul">
        Pokemons favorites
      </h2>
      <NavBar/>
</div>

<Counter client:load/>


<script>

</script>